doctype html
html(lang='en')
include includes/meta.html
link(href='./styles/index.scss', rel='stylesheet')
script(src='./scripts/handleLoading.ts')

.img_and_title
  img(src="./assets/stop.jpg" width="64" alt="")
  h1 Сайт с рекламой
    sup: small: small #{' '}(версия&nbsp; %VERSION%)
p
  | Выбираете блокировщик рекламы, но не знаете где его протестировать?
  br
  | На этом сайте собраны различные рекламные сервисы и сервисы для сбора аналитики,
  | чтобы вы могли проверить на них эффективность вашего блокировщика.
  br
  | AdBlock, AdBlock Plus, AdGuard, uBlock Origin, Ghostery, Disconnect или любой другой.

h2 💰 Контекстная реклама
ol
  li
    | Google AdSense (загрузка скрипта)
    .single-result(data-blocked)
    .ads_script_wrapper: .ads_container(data-check-loading)
      script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" onload="handleLoad(this)" hidden)
  li
    | Google AdSense (выполнение скрипта)
    .single-result(data-blocked data-success-text="выполнен" data-failute-text="не выполнен")
    .ads_script_wrapper: .ads_container(data-check-eval="isArray(adsbygoogle)")
      include includes/ads_google.html
  li
    | Google AdSense (видимость)
    .single-result(data-blocked data-success-text="невидим" data-failute-text="видим")
    .ads_wrapper: .ads_container(data-check-size)
      include includes/ads_google.html
  li
    | Рекламная сеть Яндекса / Яндекс Директ (загрузка скрипта)
    .single-result(data-blocked)
    .ads_script_wrapper: .ads_container(data-check-loading data-check-variables="Ya.Context.AdvManager")
      script(async src="//an.yandex.ru/system/context.js" onload="handleLoad(this)")
  li
    | Рекламная сеть Яндекса / Яндекс Директ (выполнение скрипта)
    .single-result(data-blocked data-success-text="выполнен" data-failute-text="не выполнен")
    .ads_script_wrapper: .ads_container(data-check-variables="Ya.Context.AdvManager")
  li
    | Рекламная сеть Яндекса / Яндекс Директ (видимость)
    .single-result(data-blocked data-success-text="невидим" data-failute-text="видим")
    .ads_wrapper: .ads_container(data-check-size )
      include includes/ads_yandex.html
  li
    | Yandex AdFox (загрузка скрипта)
    .single-result(data-blocked)
    .ads_script_wrapper: .ads_container(data-check-loading)
      script(async src="https://yastatic.net/pcode/adfox/loader.js" onload="handleLoad(this)" crossorigin="anonymous")
  li
    | Yandex AdFox (выполнение скрипта)
    .single-result(data-blocked data-success-text="выполнен" data-failute-text="не выполнен")
    .ads_script_wrapper: .ads_container(data-check-variables="Ya.adfoxCode.create")
  li
    | Yandex AdFox (видимость)
    .single-result(data-blocked data-success-text="невидим" data-failute-text="видим")
    .ads_wrapper: .ads_container(data-check-size)
      include includes/ads_adfox.html

h2 🌆 Банеры
ol
  li
    | Adobe Flash Player (включен)
    .single-result(data-blocked data-success-text="включен" data-failute-text="выключен или неподдерживается")
    .ads_script_wrapper: .ads_container(data-check-eval="flashSupported")
  li
    | Загрузка Flash файла
    .single-result(data-blocked)
    .ads_script_wrapper: .ads_container(data-check-fetch="%HOST_URL%/banners/ads_flash.swf")
  li
    | Статичная картинка (загрузка)
    .single-result(data-blocked)
    .ads_script_wrapper: .ads_container(data-check-loading)
      img(src="%HOST_URL%/banners/ads_png.png" alt="" onload="handleLoad(this)" hidden)
  li
    | Статичная картинка (скрытие)
    .single-result(data-blocked data-success-text="невидим" data-failute-text="видим")
    .ads_wrapper: .ads_container(data-check-size)
      img(src="%HOST_URL%/banners/ads_png.png" alt="" onerror="imageError(this)")
  li
    | Анимированный GIF-баннер (загрузка)
    .single-result(data-blocked)
    .ads_script_wrapper: .ads_container(data-check-loading)
      img(src="%HOST_URL%/banners/ads_gif.gif" border="0" onload="handleLoad(this)" hidden)
  li
    | Анимированный GIF-баннер (видимость)
    .single-result(data-blocked data-success-text="невидим" data-failute-text="видим")
    .ads_wrapper: .ads_container(data-check-size)
      img(src="%HOST_URL%/banners/ads_gif.gif" border="0" onerror="imageError(this)")

h2 📊 Аналитика и метрики
ol
  li
    | Яндекс-метрика
    .single-result(data-blocked)
    .ads_script_wrapper: .ads_container(data-check-loading, data-check-variables="yaCounter43211979._inited")
      script(async src="https://mc.yandex.ru/metrika/watch.js" onload="handleLoad(this)")
      include includes/yandex_metrica.html
  li
    | Гугл аналитика / Google Analytics (загрузка скрипта)
    .single-result(data-blocked)
    .ads_script_wrapper: .ads_container(data-check-loading)
      script(async src="https://www.google-analytics.com/analytics.js" onload="handleLoad(this)")
  li
    | Гугл аналитика / Google Analytics (выполнение скрипта)
    .single-result(data-blocked data-success-text="выполнен" data-failute-text="не выполнен")
    .ads_script_wrapper: .ads_container(data-check-variables="ga.answer")
      include includes/google_analytics.html
  li
    | Mail.ru счетчик (загрузка скрипта)
    .single-result(data-blocked)
    .ads_script_wrapper: .ads_container(data-check-loading)
      script(async id="topmailru-code" src="https://top-fwz1.mail.ru/js/code.js" onload="handleLoad(this)")
  li
    | Mail.ru счетчик (выполнение скрипта)
    .single-result(data-blocked data-success-text="выполнен" data-failute-text="не выполнен")
    .ads_script_wrapper: .ads_container(data-check-eval="isArray(_tmr)")
      include includes/mail_ru.html
  li
    | Open Web Analytics (загрузка скрипта)
    .single-result(data-blocked)
    .ads_script_wrapper: .ads_container(data-check-loading)
      script(async src="%HOST_URL%/js/owa/owa.tracker-combined-min.js" onload="handleLoad(this);initOwa()")
  li
    | Open Web Analytics (выполнение скрипта)
    .single-result(data-blocked)
    .ads_script_wrapper: .ads_container(data-check-variables="OWA/OWATracker.active")
      include includes/open_web.html

//-   li
//-     | LiveInternet счетчик
//-     .single-result(data-blocked)
//-     include includes/live_internet.html
//-   li
//-     | Rambler TOP 100 счетчик
//-     .single-result(data-blocked)
//-     include includes/rambler_top100.html
//-   li
//-     | Pr-cy.ru счетчик
//-     .single-result(data-blocked)
//-     include includes/pr_cy.html

//-   h2 Сервисы сбора ошибок
//-   p
//-     | Эти сервисы позволяют разработчикам сайта узнать если что-то пошло не так, обычно они не должны блокироваться (
//-     mark Не учитываются в статистике
//-     | ).
//-   ol
//-     li
//-       | Sentry.io
//-       .single-result(data-blocked)
//-       include includes/sentry.html
//-     li
//-       | Bugsnag
//-       .single-result(data-blocked)
//-       include includes/bugsnag.html

h3
  | 📄 Итог: #{' '}
  b.final-score.js-final-score-percent
  small.final-score-cases
    | #{' '}(
    span.final-score-success.js-final-score-success
    |#{' '}из#{' '}
    span.final-score-count.js-final-score-count
    | #{' '} сценариев)

section
  //- small
    //- p
    //-   | Проверьте работу блокировщиков рекламы: AdBlock, Adblock Plus, uBlock
    //-   | Origin, Adguard, AdStop, Ad Muncher, Ghostery, Privacy Badger,
    //-   | Disconnect, AdRemover, Simply Block Ads, SuperBlock, AdwCleaner, No
    //-   | Script, PopupBlocker, AdFender, NoAds.
  p
    a(href="https://checkadblock.ru") Сайт с рекламой #{' '}
    small (версия&nbsp; %VERSION%)
    | , автор:#{' '}
    a(href="https://ymatuhin.ru") Юрий Матюхин
    br
    | Вопросы и замечания пишите на #{' '}
    a(href="mailto:ym@ymatuhin.ru?subject=checkadblock") ym@ymatuhin.ru

script(src='./scripts/index.ts')
