doctype html
html(lang='ru')
  include includes/meta.html
  link(href='./styles/index.scss', rel='stylesheet')
  script(src='./scripts/handleLoading.ts')

  .img_and_title
    img(src="./assets/stop.jpg" width="64" alt="")
    h1 Сайт с рекламой
      sup: small: small #{' '}(версия&nbsp;%VERSION%)
  p
    | Выбираете блокировщик рекламы, но не знаете где его протестировать?
    br
    | На этом сайте собраны различные рекламные сервисы и сервисы для сбора аналитики,
    | чтобы вы могли проверить на них эффективность вашего блокировщика.
    br
    | AdBlock, AdBlock Plus, AdGuard, uBlock Origin, Ghostery, Disconnect или любой другой.

  h3 💰 Контекстная реклама
  p
    | Это основной вид заработка на сайтах, она встречается практически на каждом сайте.
    | Популярна она тем что владельцу сайта не нужно искать кому продать рекламу, она предоставляется сервисом.
    | Так-же эти сервисы собирают данные о вас, чтобы подобрать вам подходящую рекламу.
  ol.check-list
    li
      | Google AdSense
      ul.results-list
        li(data-check-script-loading
          data-loading-url="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        li(data-check-eval="isArray(adsbygoogle)")
        li(data-check-size)
      .ads_wrapper: .ads_container: include includes/ads_google.html
    li
      | Рекламная сеть Яндекса / Яндекс Директ
      ul.results-list
        li(data-check-script-loading data-loading-url="https://an.yandex.ru/system/context.js")
        li(data-check-eval="isUndefined(Ya.Context.AdvManager)")
        li(data-check-size)
      .ads_wrapper: .ads_container: include includes/ads_yandex.html

  h3 🌄 Баннерная реклама
  p
    | Этот вид рекламы часто используется на крупных сайтах,
    | которые продают место под рекламу. Его сложнее всего заблокировать,
    | поскольку трудно отличить рекламную картинку от обычной.
  ol.check-list
    li
      | Adobe Flash Player
      ul.results-list
        li(data-check-eval="noFlashSupport"
          data-check-success="заблокирован или не поддерживается"
          data-check-failure="включен")
    li
      | Удаление Flash файла из кода страницы
      ul.results-list
        li(data-check-size
          data-check-size-id="1"
          data-check-success="удален (вставка через Object)"
          data-check-failure="не удален (вставка через Object)")
        li(data-check-size
          data-check-size-id="2"
          data-check-success="удален (вставка через Embed)"
          data-check-failure="не удален (вставка через Embed)")
      .ads_wrapper: .ads_container(data-size-id="1")
        object(
          type="application/x-shockwave-flash"
          data="%HOST_URL%/banners/ads_flash.swf"
          height="60"
        )
          param(name="movie" value="/banners/ads_flash.swf")
      .ads_wrapper: .ads_container(data-size-id="2")
        embed(type="application/x-shockwave-flash"
        src="%HOST_URL%/banners/ads_flash.swf"
        height="60")
    li
      | Статичная картинка
      ul.results-list
        li(data-check-image-loading data-loading-url="%HOST_URL%/banners/ads_png.png")
        li(data-check-size)
      .ads_wrapper: .ads_container: img(src="%HOST_URL%/banners/ads_png.png" alt="" )
    li
      | Анимированный GIF-баннер
      ul.results-list
        li(data-check-image-loading data-loading-url="%HOST_URL%/banners/ads_gif.gif")
        li(data-check-size)
      .ads_wrapper: .ads_container: img(src="%HOST_URL%/banners/ads_gif.gif" alt="" )

  h3 📊 Аналитика и метрики
  p
    | Эти сервисы считают различные параметры такие как: количество посещений, откуда вы зашли на сайт,
    | поисковые фразы, тип устройства, пол, возраст, география, время на сайте и другие.
  ol.check-list
    li
      | Яндекс-метрика
      ul.results-list
        li(data-check-script-loading data-loading-url="https://mc.yandex.ru/metrika/tag.js" )
        li(data-check-image-loading data-loading-url="https://mc.yandex.ru/watch/43211979"
          data-check-success="альтернативный файл заблокирован"
          data-check-failure="альтернативный файл загружен"
          )
        li(data-check-eval="!ym || yaCounter43211979._inited !== true")
      .ads_wrapper: .ads_container: include includes/yandex_metrica.html
    li
      | Гугл аналитика / Google Analytics
      ul.results-list
        li(data-check-script-loading data-loading-url="https://www.google-analytics.com/analytics.js")
        li(data-check-eval="isUndefined(ga.answer)")
      .ads_wrapper: .ads_container: include includes/google_analytics.html
    li
      | Mail.ru счетчик
      ul.results-list
        li(data-check-script-loading data-loading-url="https://top-fwz1.mail.ru/js/code.js")
        li(data-check-image-loading data-loading-url="https://top-fwz1.mail.ru/counter?id=3155631;js=na"
          data-check-success="альтернативный файл заблокирован"
          data-check-failure="альтернативный файл загружен")
        li(data-check-eval="isArray(_tmr)")
      .ads_wrapper: .ads_container: include includes/mail_ru.html
    li
      | Open Web Analytics
      ul.results-list
        li(data-check-script-loading data-loading-url="%HOST_URL%/js/owa/owa.tracker-combined-min.js")
        li(data-check-eval="!OWA || !OWATracker.active")
      .ads_wrapper: .ads_container: include includes/open_web.html
    li
      | Rambler TOP 100
      ul.results-list
        li(data-check-script-loading data-loading-url="https://st.top100.ru/top100/top100.js")
        li(data-check-image-loading data-loading-url="https://counter.rambler.ru/top100.cnt?pid=6925185"
          data-check-success="альтернативный файл заблокирован"
          data-check-failure="альтернативный файл загружен")
        li(data-check-size
          data-check-success="счетчик заблокирован"
          data-check-failure="счетчик показан")
      .ads_wrapper: .ads_container: include includes/rambler_top100.html

  h3 🧮 Счетчики
  ol.check-list
    li
      | LiveInternet
      ul.results-list
        li(data-check-image-loading data-loading-url="https://counter.yadro.ru/hit")
        li(data-check-size
          data-check-success="счетчик заблокирован"
          data-check-failure="счетчик показан")
      .ads_wrapper: .ads_container: include includes/live_internet.html
    li
      | тИЦ и PR #{' '}
      small: code (pr-cy.ru)
      ul.results-list
        li(data-check-image-loading data-loading-url="http://counter.pr-cy.ru/prcy/checkadblock.ru")
        li(data-check-size
          data-check-success="счетчик заблокирован"
          data-check-failure="счетчик показан")
      .ads_wrapper: .ads_container
        a(href="https://pr-cy.ru/a/checkadblock.ru" target="_blank")
          img(src="http://counter.pr-cy.ru/prcy/checkadblock.ru" alt="Счетчик тИЦ и PR")
    li
      | Cчетчик с Яндекс ИКС#{' '}
      small: code (pr-cy.ru)
      ul.results-list
        li(data-check-script-loading data-loading-url="https://a.pr-cy.ru/assets/js/counter.sqi.min.js")
        li(data-check-image-loading data-loading-url="https://a.pr-cy.ru/assets/img/analysis-counter.png"
          data-check-success="альтернативный файл заблокирован"
          data-check-failure="альтернативный файл загружен")
        li(data-check-size
          data-check-success="счетчик заблокирован"
          data-check-failure="счетчик показан")
      .ads_wrapper: .ads_container: include includes/pr_cy.html

  h3 🚧 Сервисы сбора ошибок
  p
    | В отличии от сервисов метрики и аналики этими сервисами пользуются
    | разработчики сайтов, чтобы в случае ошибки на сайте узнать о ней.
    | Сервисы следят почти за всеми действиями пользователя
    | чтобы сообщение об ошибке было максимально полное.
  ol.check-list
    li
      | Sentry.io
      ul.results-list
        li(data-check-script-loading data-loading-url="https://browser.sentry-cdn.com/5.10.2/bundle.min.js")
        li(data-check-eval="!Sentry.init")
      .ads_wrapper: .ads_container: include includes/sentry.html
    li
      | Bugsnag
      ul.results-list
        li(data-check-script-loading data-loading-url="https://d2wy8f7a9ursnm.cloudfront.net/v4/bugsnag.min.js")
        li(data-check-eval="!bugsnag")
      .ads_wrapper: .ads_container: include includes/bugsnag.html

  h2
    | Эффективность блокировщика: #{' '}
    b.final-score.js-final-score-percent
    small.final-score-cases
      | #{' '}(
      span.final-score-success.js-final-score-success
      |#{' '}из#{' '}
      span.final-score-count.js-final-score-count
      | #{' '} сценариев)

  section: p
    a(href="https://checkadblock.ru") Сайт с рекламой #{' '}
    small (версия&nbsp; %VERSION%)
    | , автор:#{' '}
    a(href="https://ymatuhin.ru") Юрий Матюхин
    br
    | Вопросы и замечания пишите на #{' '}
    a(href="mailto:ym@ymatuhin.ru?subject=checkadblock") ym@ymatuhin.ru


  section: small: p
    | Сайт с рекламой для проверки блокировщиков, таких как:
    | AdBlock, Adblock Plus, uBlock
    | Origin, Adguard, AdStop, Ad Muncher, Ghostery, Privacy Badger,
    | Disconnect, AdRemover, Simply Block Ads, SuperBlock, AdwCleaner, No
    | Script, PopupBlocker, AdFender, NoAds.

  script(src='./scripts/index.ts')
